{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8">
    <div class="text-center">
      <h2>{% trans "Sign up to view articles (IT'S FREE!) " %}</h2>
      <p>After viewing <b>10 articles per channel</b>, only pay $0.50 / month.</p>
      <h4><a href="{% url 'about' %}">Pricing</a></h4>
    </div>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
      <div class="socialaccount_ballot">

        {% include "socialaccount/snippets/provider_list.html" with process="signup" %}

      </div>
    {% endif %}
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>

{% endblock %}
