{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="row" style="margin: 10px;">
    <div class="col-8">
      <p><b>NewsPlatform: </b>
      linking the public to
       affordable, ad-free news from 
      a continuously growing choice of journalists on a 
      continuously growing change of topics.</p>
      <p>Subscribe to news at $0.50 per channel, per month</p>
      <p>No algorithms | No clickbait | No narratives</p>

      <h2>Users</h2>
      <p>FIND CHANNELS THAT REPORT ON NEWS THAT YOU FIND IMPORTANT. ONLY WANT A DAILY ROUNDUP OF
       WORLD NEWS? THERE WILL BE A CHANNEL FOR EXACTLY THAT (OR MANY). HAVE MANY INTERESTS? 
       THATS FINE, EACH CHANNEL COSTS ONLY $ 0.50 PER MONTH TO SUBSCRIBE TO AND YOU 
       CAN UNSUBSCRIBE AT ANY TIME, AND YOU WILL NEVER HAVE TO DEAL WITH ADVERTISING 
       ON NEWSPLATFORM. EVER.</p>

      <h2>Journalists</h2>
      <p>DO YOU HAVE A SMART PHONE, AND INTEREST IN CURRENT AFFAIRS OR ANY UNIQUE BODY 
      OF KNOWLEDGE? WHY NOT GET PAID TO SHARE YOUR INFORMATION. FOR EVERY SUBSCRUBER, 
      YOU EARN $ 0.25. UNLIKE YOUTUBE, YOU WILL KNOW EXACTLY HOW MUCH YOU WILL EARN, 
      AND YOUR NUMBER OF SUBSCRIBERS IS LINKED DIRECTLY WITH THE QUALITY OF YOUR REPORTING. 
      JOIN THE MOST REVOLUTIONARY PLATFORM IN THE HISTORY OF NEWS. 
      JOURNALISTS GET PAID BY THEIR SUBSCRIBERS, AND THERE IS NO NETWORK/ 
      EMPLOYER/ CLUMSY MANAGEMENT STRUCTURE TO DICTATE WHAT YOU SHOULD REPORT ON. 
      IF YOU REPORT ON NEWS THAT PEOPLE WANT TO KNOW ABOUT, YOU WILL DO WELL. 
      EVERYONE WINS. THERE IS ZERO SIGNUP COST TO START. JUST MAKE A PROFILE AND 
      MAKE HIGH QUALITY CONTENT AND SEE IF PEOPLE WANT TO SUBSCRIBE TO WHAT YOU REPORT ON.</p>
    </div>

  <div class="col-4">
    <h2>Login</h2>
    <form method="POST" action=".">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Login</button>
      <a href="{% url 'account_signup' %}">signup</a>
    </form>
  </div>

</div>


{% endblock content %}