{% extends "base.html" %}

{% block content %}


  <div class="row" style="margin: 10px;">
    <div class="col-9">
      {% if visitor_is_subscribed %}

        <h2>{{ article.title }}</h2>
        {{ article.content | safe }}
        {% if article.channel.user == request.user %}
          <a class="btn btn-secondary" href="{{ article.get_update_url }}">Update</a>
          <a class="btn btn-warning" href="{{ article.get_delete_url }}">Delete</a>
        {% endif %}
        <hr />
        {% include "disqus.html" with article_id=article.id article_url=request.build_absolute_uri %}

      {% else %}

        <p>To view this article, subscribe to this channel.</p>
        <a href="{% url 'subscribe' name=article.channel.name %}" class="btn btn-warning">Subscribe</a>  

      {% endif %}

    </div>

    {% include 'article_sidebar.html' with most_viewed=most_viewed most_recent=most_recent cats=cats %}
  </div>

{% endblock content %}