{% extends "base.html" %}

{% block content %}

  <div class="row" style="margin: 10px;">

    <div class="col-9">

      <h2>My News Feed</h2>

      <div class="row">
        form here
      </div>
    
      <div class="row">
        {% for article in article_list %}
          <div class="col-4">
            <a style="text-decoration: none; color: #212529;" href="{{ article.get_absolute_url }}">
            <div class="shadow">
              <div>
                <img class="img-fluid" src="{{ article.thumbnail.url }}" alt="article-image">
              </div>
              <div class="media box" style="margin-bottom: 50px;">
                <img style="width: 50px;" src="{{ article.channel.profile_image.url }}" class="mr-3" alt="profile-image">
                <div class="media-body">
                  <h4 class="mt-0">{{ article.title }}</h4>
                  <h6>{{ article.channel.name }}</h6>
                  {{ article.description|truncatechars:80 }}
                  <br />
                  <small>{{ article.view_count }} views • {{ article.published_date|timesince }} ago</small>
                </div>
              </div>
            </a>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>

    <div class="col-3" style="margin-top: 50px;">
      <ul class="list-group">
        <li class="list-group-item active">Today's popular articles</li>
        <li class="list-group-item">(WIP)</li>
        <li class="list-group-item">(WIP)</li>
        <li class="list-group-item">(WIP)</li>
        <li class="list-group-item">(WIP)</li>
      </ul>

      <hr />

      <div class="card">
        <div class="card-header">
          Today's popular categories
        </div>
        <div class="post-tags" style="padding: 3px;">
          <a href="#" class="tag badge badge-secondary">#Business</a>
          <a href="#" class="tag badge badge-secondary">#Tricks</a>
          <a href="#" class="tag badge badge-secondary">#Financial</a>
          <a href="#" class="tag badge badge-secondary">#Economy</a>
        </div>
      </div>

    </div>

  </div>

{% endblock content %}