{% extends "base.html" %}

{% block content %}

  <div class="row" style="margin: 10px;">
    <div class="col-9">
      {% for channel in queryset %}
        <a href="{{ channel.get_absolute_url }}"><h3>{{ channel.name }}</h3></a>
        <div class="row">
          {% for article in channel.get_latest_articles %}
            <div class="col-3">
              <a style="text-decoration: none; color: #212529;" href="{{ article.get_absolute_url }}">
              <div class="shadow">
                <div>
                  <img class="img-fluid" src="{{ article.thumbnail.url }}" alt="article-image">
                </div>
                <div class="media box" style="margin-bottom: 50px;">
                  <img style="width: 50px;" src="{{ article.channel.profile_image.url }}" class="mr-3" alt="profile-image">
                  <div class="media-body">
                    <h4 class="mt-0">{{ article.title }}</h4>
                    {% comment %} {{ article.description|truncatechars:80 }} {% endcomment %}
                    <br />
                    <small>{{ article.view_count }} views • {{ article.published_date|timesince }} ago</small>
                  </div>
                </div>
              </a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

    {% include "paginator.html" with queryset=queryset page_request_var=page_request_var %}      

    </div>

    {% include 'channel_sidebar.html' with most_viewed=most_viewed most_recent=most_recent cats=cats %}    

  </div> 


{% endblock content %}