{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}

<div class="jumbotron bg-light mb-0 radius-0">
  <div class="container">
      <h2>Welcome to NewsPlatform!</h2>
      <span class="lead">Linking the public to affordable, ad-free news from a continuously growing choice of 
      journalists on a continuously growing change of topics.</span>

      <div class="mt-4">
        <p>Subscribe to news at $1 per channel, per month</p>
        <p>No algorithms | No clickbait | No narratives</p>
      </div>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-8">
    <h2>Top articles</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Views</th>
          <th scope="col">Channel</th>
        </tr>
      </thead>
      <tbody>
      {% for article in article_list %}
        <tr>
          <td><a href="{{ article.get_absolute_url }}">{{ article.title }}<a></td>
          <td>{{ article.view_count }}</td>
          <td>{{ article.channel.name }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <hr />

    <h2>Top channels</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Channel name</th>
          <th scope="col">Subscribers</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
      {% for channel in channel_list %}
        <tr>
          <td><a href="{{ channel.get_absolute_url }}">{{ channel.name }}</a></td>
          <td>{{ channel.subscribers.count }}</td>
          <td>{{ channel.description }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>

  <div class="col-4">
    <h2>Login</h2>
    <form method="POST" action=".">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Login</button>
      <a href="{% url 'account_signup' %}">signup</a>
    </form>
  </div>

</div>


{% endblock content %}