<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.get_full_path == '/' or request.get_full_path == '/news-feed/' %} active {% endif %}">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item {% if request.get_full_path == '/create/' %} active {% endif %}">
          {% if request.user.channel %}
          <a class="nav-link" href="{% url 'article-create' %}">Create</a>
          {% endif %}
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item {% if request.get_full_path == '/explore/' %} active {% endif %}">
          <a class="nav-link" href="{% url 'channel-list' %}">Explore</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'my-profile' %}">My profile</a>
            {% if request.user.channel %}
            <a class="dropdown-item" href="{% url 'my-channel' %}">My channel</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item {% if request.get_full_path == '/accounts/login/' %} active {% endif %}">
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
        </li>
        {% endif %}
        <form class="form-inline my-2 my-lg-0" style="margin-left: 15px;">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </ul>
    </div>
  </div>
</nav>