container_commands:
  01_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true
  02_make_superuser:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py makesuper"
  03_make_models:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py makemodels"
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: newsPlatform/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: newsPlatform.settings.production
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static_root/"
