{% extends "base.html" %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css"/>
{% endblock %}

{% block content %}

<style>
.text-muted:hover {
  text-decoration: none;
  color: #6c757d !important;
}
.check-item {
  margin-left: 35px;
  display: inline;
}
.check-item:nth-child(1) {
  margin-left: 6px;
  display: inline;
}
</style>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="row mb-5">
        <div class="col-12">
          <form method="GET">
          <div class="well">
            <h4>Order by</h4>
            <div class="form-row mb-4 mr-sm-2 form-check">
              <div class="check-item">
                <input class="form-check-input" type="hidden" id="id_latest" name="latest">
                <input class="form-check-input" type="checkbox" id="id_view_count" name="view_count">
                <label class="form-check-label" for="id_view_count">
                  View count
                </label>
              </div>
              <div class="check-item">
                <input class="form-check-input" type="checkbox" id="id_rating" name="rating">
                <label class="form-check-label" for="id_rating">
                  Rating
                </label>
              </div>
              <div class="check-item">
                <input class="form-check-input" type="checkbox" id="id_sub_count" name="sub_count">
                <label class="form-check-label" for="id_sub_count">
                  Subscriber count
                </label>
              </div>
            </div>
            <div>
              <a id="showAdvancedFormBtn" class="float-right btn btn-sm btn-secondary" href="javascript:void(0)">Advanced search</a>
            </div>
            <div id="advancedForm" style="display: none;">
              <h4>Advanced Search</h4>
              <div class="form-row mb-1">
                <div class="col-12 input-group">
                  <input class="form-control py-2 border-right-0 border" type="search" placeholder="Channel name" id="search-input" name="channel_name">
                  <span class="input-group-append">
                    <button class="btn btn-outline-secondary border-left-0 border" type="submit">
                          <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </div>
              <div class="form-row mb-1">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-row">
                    <div class="col-6">
                      <input type="text" class="form-control" placeholder="0" aria-describedby="subCountMinHelp" name="subCountMin">
                      <small id="subCountMinHelp" class="form-text text-muted">
                        Minimum number of subscribers
                      </small>
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control" placeholder="100" aria-describedby="subCountMaxHelp" name="subCountMax">
                      <small id="subCountMaxHelp" class="form-text text-muted">
                        Maximum number of subscribers
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-row">
                    <div class="col-6">
                      <input type="text" class="form-control" placeholder="0" aria-describedby="articleCountMinHelp" name="articleCountMin">
                      <small id="articleCountMinHelp" class="form-text text-muted">
                        Minimum number of articles
                      </small>
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control" placeholder="25" aria-describedby="articleCountMaxHelp" name="articleCountMax">
                      <small id="articleCountMaxHelp" class="form-text text-muted">
                        Maximum number of articles
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row mb-1">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <select class="custom-select" id="categories" multiple="multiple" name="categories">
                    {% for c in categories %}
                      <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-row">
                    <div class="col-6">
                      <input type="text" class="form-control" placeholder="0" aria-describedby="viewCountMinHelp" name="viewCountMin">
                      <small id="viewCountMinHelp" class="form-text text-muted">
                        Minimum number of views
                      </small>
                    </div>
                    <div class="col-6">
                      <input type="text" id="viewCountMax" class="form-control" placeholder="10000" aria-describedby="viewCountMaxHelp" name="viewCountMax">
                      <small id="viewCountMaxHelp" class="form-text text-muted">
                        Maximum number of views
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">
              <span class="fa fa-search"></span> Filter
            </button>
          </div>
          </form>
        </div>
      </div>

      <hr />

      {% for channel in queryset %}
        <div class="row">
          <a class="text-muted" href="{{ channel.get_absolute_url }}">
            <h5>{{ channel.name }}</h5>
            <span>{{ channel.subscriber_count }} subscribers</span> 
            | <span>{{ channel.article_count }} articles</span> 
            | <span>
            {% if channel.channel_rating != None %}
              {{ channel.channel_rating }}/10
            {% else %}
            No
            {% endif %}
            rating</span>
            | <span>
            {% if channel.view_count == None %}
            0
            {% else %}
            {{ channel.view_count }} 
            {% endif %}
            views
            </span>
          </a>
        </div>
          <hr />

      {% empty %}
        There are currently no channels to subscribe to
      {% endfor %}

      <div class="row mt-5">
        {% include "nav/paginator.html" with queryset=queryset page_request_var=page_request_var %}
      </div>

    </div>

    {% include 'core/channel_sidebar.html' with most_viewed=most_viewed most_recent=most_recent cats=cats %}    

  </div> 
</main>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#categories').multiselect({
            nonSelectedText: 'Select a category(s)'
        });
    });
</script>
<script>
const advancedForm = document.getElementById('advancedForm');
document.getElementById("showAdvancedFormBtn").addEventListener("click", () => {
  if (advancedForm.style.display === 'none') {
    advancedForm.style.display = 'block';
  } else {
    advancedForm.style.display = 'none'
  }
});
</script>
<script src="{% static 'js/selectCheckboxChannel.js' %}"></script>

{% endblock scripts %}
