<aside class="col-md-4 blog-sidebar">
    <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">Popular categories today</h4>
    {% for cat in cats %}
    <a href="/categories/{{ cat.categories__name }}" class="tag badge badge-secondary">#{{ cat.categories__name }} ({{ cat.cat_count }})</a>
    {% endfor %}
    </div>

    <div class="p-3">
    <h4 class="font-italic">Trending</h4>
    <ol class="list-unstyled">
        {% for channel in most_viewed %}
        <a href="{{ article.get_absolute_url }}">
            <li class="list-group-item">
            {{ channel.channel__name }}
            <span style="float: right;">{{ channel.view_count__sum }} views</span>
            </li>
        </a>
        {% empty %}
            Not enough channels yet
        {% endfor %}
    </ol>
    </div>

    <div class="p-3">
    <h4 class="font-italic">Most viewed today</h4>
    <ol class="list-unstyled mb-0">
        {% for article in most_recent %}
        <a href="{{ article.get_absolute_url }}">
            <li>
            {{ article.title|truncatechars:20 }}
            <span style="float: right;">{{ article.view_count }} views</span>
            </li>
        </a>
        {% empty %}
            Not enough articles yet
        {% endfor %}
    </ol>
    </div>
</aside>