{% extends "base.html" %}
{% load ratings %}

{% block header %}
<div class="row">
    <div style="height: 200px; width: 100%;">
        <div style="height: 100%;">
            <img style="width: 100%; height: 100%" src="{{ channel.background_image.url }}" alt="channel-background-image" />
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}

<main role="main" class="container">
<div class="row mt-5">
    <div class="col-md-8">
        <div class="col-12">
            <h2>Articles</h2>
            <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">View count</th>
                <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
            {% for article in queryset %}
                <tr>
                <td><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></td>
                <td>{{ article.published_date }}</td>
                <td>{{ article.view_count }}</td>
                {% if article.get_rating.count < 1 or article.get_rating != None %}
                    <td>No ratings yet</td>
                {% else %}
                    <td>{{ article.get_rating.average|floatformat:"2" }}</td>
                {% endif %}
                </tr>
            {% empty %}
            <p>You have no articles. <a href="{% url 'article-create' %}">Create one now</a></p>
            {% endfor %}
            </tbody>
            </table>

            {% include "nav/paginator.html" with queryset=queryset page_request_var=page_request_var %}
        
        <br />

        </div>

        <div class="col-12">
            <h2>Channel stats</h2>
            {% if not channel.connected %}
            <h4>Note: Your channel cannot receive payments as you have 
            not connected a Stripe account.
            <a href="{% url 'edit-channel-payment-details' %}">
                Connect now to complete your channel
            </a></h4>
            {% endif %}
            <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Metric</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Subscriber count</td>
                    <td>{{ channel.subscribers.count }}</td>
                </tr>
                <tr>
                    <td>Current months income</td>
                    <td>${{ current_billing_revenue }}</td>
                </tr>
                <tr>
                    <td>All-time income</td>
                    <td>${{ alltime_billing_revenue }}</td>
                </tr>
                <tr>
                    <td>Next Stripe payout</td>
                    <td>{{ next_payout_date }}</td>
                </tr>
                {% if most_viewed_article != None %}
                <tr>
                    <td>Most viewed article</td>
                    <td><a href="{{ most_viewed_article.get_absolute_url }}">{{ most_viewed_article }}</a></td>
                </tr>
                {% endif %}
                {% if most_viewed_article != None %}
                <tr>
                    <td>Highest rated article</td>
                    <td><a href="{{ highest_rated_article.get_absolute_url }}">{{ highest_rated_article }}</a></td>
                </tr>
                {% endif %}
                <tr>
                    <td>Channel rating</td>
                    {% if channel.channel_rating == None %}
                        <td>No ratings yet</td>
                    {% else %}
                        <td>{{ channel.channel_rating|floatformat:"2" }}</td>
                    {% endif %}
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <aside class="col-md-4 blog-sidebar">
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    <img src="{{ channel.profile_image.url }}" alt="..." class="img-thumbnail" style="max-height: 100px;">
                </div>
                <div class="card-body">
                    {% if request.user.profile.channels.count > 0 %}
                    <span>Current channel: </span>
                    <span style="float: right;">
                    <div class="dropdown">
                        <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>{{ request.session.selected_channel }}</b>
                        </span>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Select a channel</h6>
                            {% for channel in request.user.profile.channels %}
                                <a class="dropdown-item" href="{% url 'change-selected-channel' channel.name %}">{{ channel.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    </span>
                    {% endif %}
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ channel.description }}</li>
                <li class="list-group-item"><b>Articles: </b>{{ channel.article_count }}</li>
                <li class="list-group-item">
                    <b>Categories: </b>
                    {% for c in channel.categories.all %}
                        <span>{{ c }}</span>
                        {% if channel.category_count > 1 %} | {% endif %}
                    {% empty %}
                        No categories selected
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="mt-1">
            <a style="width: 100%;" href="{% url 'channel-stats' %}" class="btn btn-primary">Edit channel</a>
        </div>
        <div class="mt-1">
            <a style="width: 100%;" href="{% url 'channel-public' channel.name %}" class="btn btn-secondary">View public channel</a>
        </div>
    </aside>
</div>
</main>

{% endblock content %}