{% extends "base.html" %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css"/>
{% endblock %}

{% block content %}

<style>
.check-item {
  margin-left: 35px;
  display: inline;
}
</style>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="row mb-5" style="display: none;">
        <div class="col-12">
          <form method="GET">
          <div class="well">
            <h4>Order by</h4>
            <div class="form-row mb-4 mr-sm-2 form-check">
              <div class="check-item">
                <input class="form-check-input" type="checkbox" id="latest">
                <label class="form-check-label" for="latest">
                  Latest
                </label>
              </div>
              <div class="check-item">
                <input class="form-check-input" type="checkbox" id="view_count">
                <label class="form-check-label" for="view_count">
                  View count
                </label>
              </div>
              <div class="check-item">
                <input class="form-check-input" type="checkbox" id="rating">
                <label class="form-check-label" for="rating">
                  Rating
                </label>
              </div>
            </div>
            <h4>Advanced Search</h4>
            <div id="advancedForm">
              <div class="form-row mb-1">
                <div class="col-12 input-group">
                  <input class="form-control py-2 border-right-0 border" type="search" placeholder="Channel name" id="search-input" name="channel_name">
                  <span class="input-group-append">
                    <button class="btn btn-outline-secondary border-left-0 border" type="button">
                          <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </div>
              <div class="form-row mb-1">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-row">
                    <div class="col-6">
                      <input type="text" class="form-control" placeholder="0" aria-describedby="subCountMinHelp" name="subCountMin">
                      <small id="subCountMinHelp" class="form-text text-muted">
                        Minimum number of subscribers
                      </small>
                    </div>
                    <div class="col-6">
                      <input type="text" id="viewCountMax" class="form-control" placeholder="100" aria-describedby="subCountMaxHelp" name="subCountMax">
                      <small id="subCountMaxHelp" class="form-text text-muted">
                        Maximum number of subscribers
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-row">
                    <div class="col-6">
                      <input type="text" class="form-control" placeholder="0" aria-describedby="articleCountMinHelp" name="articleCountMin">
                      <small id="articleCountMinHelp" class="form-text text-muted">
                        Minimum number of articles
                      </small>
                    </div>
                    <div class="col-6">
                      <input type="text" id="viewCountMax" class="form-control" placeholder="25" aria-describedby="articleCountMaxHelp" name="articleCountMax">
                      <small id="articleCountMaxHelp" class="form-text text-muted">
                        Maximum number of articles
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row mb-1">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <select class="custom-select" id="categories" multiple="multiple" name="categories">
                    {% for c in categories %}
                      <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-row">
                    <div class="col-6">
                      <input type="text" class="form-control" placeholder="0" aria-describedby="viewCountMinHelp" name="viewCountMin">
                      <small id="viewCountMinHelp" class="form-text text-muted">
                        Minimum number of views
                      </small>
                    </div>
                    <div class="col-6">
                      <input type="text" id="viewCountMax" class="form-control" placeholder="10000" aria-describedby="viewCountMaxHelp" name="viewCountMax">
                      <small id="viewCountMaxHelp" class="form-text text-muted">
                        Maximum number of views
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">
              <span class="fa fa-search"></span> Search
            </button>
          </div>
          </form>
        </div>
      </div>

      {% for channel in queryset %}
        <div class="row">
          <a class="text-muted" href="{{ channel.get_absolute_url }}"><h3>{{ channel.name }}</h3></a>
        </div>
        <div class="row mb-4">
          {% for article in channel.get_latest_articles %}
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="mt-2">
                <div class="card">
                <img class="card-img-top" src="{{ article.thumbnail.url }}" style="max-height: 154.36px;" alt="Article thumbnail">
                <div class="card-body">
                    <strong class="d-inline-block mb-2 text-primary">
                    {% for cat in article.categories.all %}
                    {{ cat }} {% if article.categories.count > 1 %} | {% endif %} 
                    {% endfor %}
                    </strong>
                    <h3 class="mb-0">
                      <a class="text-dark" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                    </h3>
                    <div class="mb-1 text-muted">
                    {{ article.published_date|timesince }} ago
                    <span>({{ article.view_count }} views)</span>
                    </div>
                    <p class="card-text">{{ article.description|truncatechars:50 }}</p>
                    <a href="{{ article.get_absolute_url }}">Get informed..</a>
                </div>
                </div>
            </div>
          </div>
          {% empty %}
          This channel has not created any articles yet
          {% endfor %}
        </div>

      {% empty %}
        There are currently no channels to subscribe to
      {% endfor %}

      <div class="row mt-5">
        {% include "nav/paginator.html" with queryset=queryset page_request_var=page_request_var %}
      </div>

    </div>

    {% include 'core/channel_sidebar.html' with most_viewed=most_viewed most_recent=most_recent cats=cats %}    

  </div> 
</main>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#categories').multiselect({
            nonSelectedText: 'Select a category(s)'
        });
    });
</script>
{% endblock scripts %}