{% extends "base.html" %}
{% load static %}
{% load ratings %}

{% block content %}
<main role="main" class="container">
  <div class="row mt-5">
    <div class="col-md-8">
      {% if allowed_to_view or request.user == article.channel.user %}

        <h2>{{ article.title }} <small style="font-size: 50%;">Posted by <a href="{{ article.channel.get_absolute_url }}">{{ article.channel }}</a></small></h2>
        
        <img style="width: 100%;" src="{{ article.thumbnail.url }}" alt="Article thumbnail" />
        {{ article.content | safe }}
        {% if article.channel.user == request.user %}
          <a class="btn btn-secondary" href="{{ article.get_update_url }}">Update</a>
          <a class="btn btn-warning" href="{{ article.get_delete_url }}">Delete</a>
          <br />
          <p class="mt-3">Average Rating: {{ article.get_rating.average }}</p>
          <p>Number of Ratings: {{ article.get_rating.count }}</p>
        {% else %}
          {% ratings article %}
        {% endif %}
        <hr />
        {% include "nav/disqus.html" with article_id=article.id article_url=request.build_absolute_uri %}

      {% else %}
        <h3>To view this article, subscribe to this channel</h3>
        <a href="{% url 'subscribe' name=article.channel.name %}" style="width: 100%;" class="btn btn-warning btn-large">Subscribe</a>
      {% endif %}

    </div>

    {% include 'articles/article_sidebar.html' with most_viewed=most_viewed most_recent=most_recent cats=cats %}
  </div>

</main>
{% endblock content %}