{% extends "base.html" %}
{% load static %}
{% load ratings %}

{% block extra_head %}
  <title>{{ article.title|truncatechars:65 }}</title>
  <meta property="og:title" content="{{ article.title|truncatechars:35 }}" />
  <meta property="twitter:title" content="{{ article.title|truncatechars:35 }}">
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:description" content="{{ article.description|truncatechars:65 }}">
  <meta name="description" content="{{ article.description|truncatechars:155 }}">
  <meta name="twitter:description" content="{{ article.description|truncatechars:65 }}">
  <meta data-rh="true" name="image" itemprop="image" content="{{ article.thumbnail.url }}">
  <meta data-rh="true" name="thumbnail" itemprop="thumbnailUrl" content="{{ article.thumbnail.url }}">
  <meta data-rh="true" property="og:image" content="{{ article.thumbnail.url }}">
  <meta data-rh="true" property="twitter:image" content="{{ article.thumbnail.url }}">
  <meta property="og:type" content="article" />
{% endblock extra_head %}

{% block content %}

<style>
#content img, video {
  width: 100%;
}
</style>

<main role="main" class="container">
  <div class="row mt-5">
    <div class="col-md-8">
        <div>
          <h2>{{ article.title }} 
            <small style="font-size: 50%;">
              Posted by <a href="{{ article.channel.get_absolute_url }}">{{ article.channel }}</a>
            </small>
            {% include "articles/share_links_snippet.html" %}
          </h2>
        </div>
        {% if article.thumbnail %}
        <img style="width: 100%;" src="{{ article.thumbnail.url }}" alt="Article thumbnail" />
        {% endif %}
        
        <div id="content">
          {{ article.description }}
        </div>
        
        <h4>To continue reading, start by <a href="{% url 'account_login' %}">logging in</a></h4>
    </div>

    {% include 'articles/article_sidebar.html' with most_viewed=most_viewed most_recent=most_recent cats=cats %}
  </div>

</main>

{% endblock content %}