{% extends "base.html" %}

{% block content %}

  <style>

    label {
      margin-right: 7px;
      margin-left: 15px;
    }

    .form-btn {
      margin-left: 15px;
    }

  </style>

  <div class="row mt-5">

    <div class="col-9">

      <h2>My News Feed</h2>

      <div class="row">
        <div style="margin: 10px;">
          <form method="GET" action=".">
            {{ form }}
            <button type="submit" class="form-btn btn btn-primary btn-sm">Filter</button>
          </form>
        </div>
      </div>

      <div class="row">
        {% for article in queryset %}
        <div class="col-sm">
            <div class="ht-tm-codeblock mt-2">
                <div class="ht-tm-element card">
                <img class="card-img-top" src="{{ article.thumbnail.url }}" style="max-height: 154.36px;" alt="Article thumbnail">
                <div class="card-body">
                    <a href="{{ article.channel.get_absolute_url }}"><h3>{{ article.channel.name }}</h3></a>
                    <h4 class="card-title">{{ article.title }}</h4>
                    <small>{{ article.view_count }} views • {{ article.published_date|timesince }} ago</small>
                    <br />
                    {% if article.get_rating.count > 0 %}
                    <small>Rating: {{ article.get_rating.average|floatformat:"2" }}/10</small>
                    {% endif %}
                    <p class="card-text">{{ article.description|truncatechars:50 }}</p>
                    <a href="{{ article.get_absolute_url }}" class="btn btn-primary">View</a>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>

      <div class="row mt-5">
        {% include "nav/paginator.html" with queryset=queryset page_request_var=page_request_var %}
      </div>

    </div>

    {% include 'articles/article_sidebar.html' with most_viewed=most_viewed most_recent=most_recent cats=cats %}

  </div>

  <script>

    // these come from django forms by default
    const LATEST_ID = 'id_latest';
    const VIEW_COUNT_ID = 'id_view_count';
    const RATING_ID = 'id_rating';

    const latest = document.getElementById(LATEST_ID);
    const view_count = document.getElementById(VIEW_COUNT_ID);
    const rating = document.getElementById(RATING_ID);

    function switchEnabled(formElement) {
      const checked = formElement.checked;
      if (checked) formElement.checked = false;
        // otherwise do nothing because it's already false
    }

    /* 
      listen for changes on the selected field and 
      make sure only one field can be selected at a time
    */

    latest.addEventListener('change', e => {
      switchEnabled(view_count);
      switchEnabled(rating);
    });

    view_count.addEventListener('change', e => {
      switchEnabled(latest);
      switchEnabled(rating);
    });

    rating.addEventListener('change', e => {
      switchEnabled(latest);
      switchEnabled(view_count);
    });

  </script>

{% endblock content %}