{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main role="main" class="container">
<div class="row">

  <aside class="col-md-4 blog-sidebar">
    <div class="card" style="width: 100%;">
      <div class="card-header">
        <h4>{{ name }}</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'channel-stats' %}">Stats</a></li>
        <li class="list-group-item"><a href="{% url 'edit-my-channel' %}">Channel details</a></li>
        <li class="list-group-item"><a href="{% url 'edit-channel-payment-details' %}">Payment Details</a></li>
      </ul>
    </div>
  </aside>


  <div class="col-md-8">

    {% if display == 'stats' %}
    
    <div>
      <h2>My articles</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Views</th>
          </tr>
        </thead>
        <tbody>
        {% for article in queryset %}
          <tr>
            <td><a href="{{ article.get_absolute_url }}">{{ article.title }}<a></td>
            <td>{{ article.view_count }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% include "nav/paginator.html" with queryset=queryset page_request_var=page_request_var %}      

      <br style="padding-top: 10px;" />

      <h2>Stats and information</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Metric</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Number of article views</td>
            <td>{{ total_article_views.view_count__sum }}</td>
          </tr>
          <tr>
            <td>Current months revenue</td>
            <td>${{ current_billing_revenue }}</td>
          </tr>
          <tr>
            <td>All-time revenue</td>
            <td>${{ alltime_billing_revenue }}</td>
          </tr>
          <tr>
            <td>Next Stripe payout</td>
            <td>{{ next_payout_date }}</td>
          </tr>
        </tbody>
      </table>
    
    </div>

    {% elif display == 'edit_channel_details' %}

    <div>
      <h2>Update channel details</h2>
      <form method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'edit-my-channel' %}" class="btn btn-secondary">Cancel</a>
      </form>

      <hr />
      <a href="{% url 'close-channel' %}" class="btn btn-secondary">Delete channel</a>
    </div>

    {% elif display == 'edit_payment_details' %}

    <div>
      {% if not channel.connected %}
      <h3>To start getting paid, connect to a stripe account</h3>
      <a href="{% url 'stripe-authorization' %}" class="btn btn-primary">Connect Stripe Account</a>
      {% else %}
      <h3>Your Stripe account has been linked. <a class="text muted" href="https://dashboard.stripe.com/login">Visit your Stripe account</a></h3>
      {% endif %}
    </div>

    {% endif %}

  </div>

</div>
</main>

{% endblock content %}