{% extends "base.html" %}

{% block content %}

<main role="main" class="container">
  <div class="row">

    <div class="col-md-8 blog-main">
      {% for channel in queryset %}
        <p class="text-muted"><a href="{{ channel.get_absolute_url }}"><h3>{{ channel.name }}</h3></a></p>

        <div class="row">
          {% for article in channel.get_latest_articles %}
          <div class="col-md-6">
              <div class="ht-tm-codeblock mt-2">
                  <div class="ht-tm-element card">
                  <img class="card-img-top" src="{{ article.thumbnail.url }}" style="max-height: 154.36px;" alt="Article thumbnail">
                  <div class="card-body">
                      <strong class="d-inline-block mb-2 text-primary">
                      {% for cat in article.categories.all %}
                      {{ cat }} {% if article.categories.count > 1 %} | {% endif %} 
                      {% endfor %}
                      </strong>
                      <h3 class="mb-0">
                        <a class="text-dark" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                      </h3>
                      <div class="mb-1 text-muted">
                      {{ article.published_date|timesince }} ago
                      <span>({{ article.view_count }} views)</span>
                      </div>
                      <p class="card-text">{{ article.description|truncatechars:50 }}</p>
                      <a href="{{ article.get_absolute_url }}">Get informed..</a>
                  </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>

      {% endfor %}

      <div class="row mt-5">
        {% include "nav/paginator.html" with queryset=queryset page_request_var=page_request_var %}
      </div>

    </div>

    {% include 'core/channel_sidebar.html' with most_viewed=most_viewed most_recent=most_recent cats=cats %}    

  </div> 
</main>

{% endblock content %}