{% extends "base.html" %}

{% block header %}
<div class="row">
    <div style="height: 200px; width: 100%;">
        <div style="height: 100%;">
            <img style="width: 100%; height: 100%" src="{{ channel.background_image.url }}" alt="channel-background-image" />
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}

<div>
    <div class="row mt-5">
        <div class="col-8">
            <div class="row">
                {% for article in queryset %}
                <div class="col-sm">
                    <div class="ht-tm-codeblock mt-2">
                        <div class="ht-tm-element card">
                        <img class="card-img-top" src="{{ article.thumbnail.url }}" style="max-height: 154.36px;" alt="Article thumbnail">
                        <div class="card-body">
                            <h4 class="card-title">{{ article.title }}</h4>
                            <p class="card-text">{{ article.description|truncatechars:50 }}</p>
                            <a href="{{ article.get_absolute_url }}" class="btn btn-primary">View</a>
                        </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h3>This journalist is yet to create an article. Come back soon!</h3>
                {% endfor %}
            </div>
            <div class="row mt-5">
                {% include "nav/paginator.html" with queryset=queryset page_request_var=page_request_var %}
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center">
                    <img src="{{ channel.profile_image.url }}" alt="..." class="img-thumbnail" style="max-height: 100px;">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ channel.description }}</li>
                    <li class="list-group-item"><b>Articles: </b>{{ channel.article_count }}</li>
                    <li class="list-group-item"><b>Subscribers: </b>{{ channel.subscriber_count }}</li>
                    <li class="list-group-item">
                        <b>Categories: </b>
                        {% for c in channel.categories.all %}
                            <span>{{ c }}</span>{% if channel.categories_count > 1 %} | {% endif %}
                        {% empty %}
                            No categories selected
                        {% endfor %}
                    </li>
                </ul>
                {% if request.user.channel == channel %}
                <a href="{% url 'edit-my-channel' %}" class="btn btn-primary">Edit channel</a>
                {% endif %}
            </div>

            <br />
            {% if not request.user.channel %}
                {% if request.user.profile not in channel.subscribers.all %}
                    <a href="{% url 'subscribe' name=channel.name %}" style="width: 100%;" class="btn btn-warning">Subscribe</a>
                {% else %}
                    <a href="{% url 'unsubscribe' name=channel.name %}" style="width: 100%;" class="btn btn-warning">Unsubscribe</a>
                {% endif %}
            {% else %}
                {% if request.user.channel != channel %}
                    {% if request.user.profile not in channel.subscribers.all %}
                        <a href="{% url 'subscribe' name=channel.name %}" style="width: 100%;" class="btn btn-warning">Subscribe</a>
                    {% else %}
                        <a href="{% url 'unsubscribe' name=channel.name %}" style="width: 100%;" class="btn btn-warning">Unsubscribe</a>
                    {% endif %}
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>

{% endblock content %}