{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row" style="margin: 10px;">

  <div class="col-3">
    <div class="card" style="width: 100%;">
      <div class="card-header">
        <h4>{{ request.user.username }}</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'my-profile' %}">Stats</a></li>
        <li class="list-group-item"><a href="{% url 'edit-my-account' %}">Account</a></li>
        <li class="list-group-item"><a href="{% url 'edit-profile-payment-details' %}">Credit cards</a></li>
        <li class="list-group-item"><a href="#">Notifications</a></li>
      </ul>
    </div>

    <div class="mt-1">
      {% if not request.user.channel %}
        <a style="width: 100%;" href="{% url 'channel-create' %}" class="btn btn-primary">Become a Journalist!</a>
        {% else %}
        <a style="width: 100%;" href="{% url 'channel-stats' %}" class="btn btn-primary">Edit channel</a>
      {% endif %}
    </div>
  </div>


  <div class="col-9">

    {% if display == 'stats' %}

    <h2>Subscribed channels</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Channel name</th>
          <th scope="col">Subscribers</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
      {% for channel in channel_list %}
        <tr>
          <td>{{ channel.name }}</td>
          <td>{{ channel.subscribers.count }}</td>
          <td>{{ channel.description }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">You have no subscriptions. <a href="/explore">Explore the channels</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% include "nav/paginator.html" with queryset=queryset page_request_var=page_request_var %}

    <br style="padding-top: 10px;" />

    <h2>Stats and information</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Metric</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of subscriptions</td>
          <td>{{ sub_count }}</td>
        </tr>
        <tr>
          <td>Monthly billing total</td>
          <td>$5 (WIP)</td>
        </tr>
        {% if most_viewed_channel != None %}
        <tr>
          <td>Most viewed channel</td>
          <td>{{ most_viewed_channel.article__channel__name }}</td>
        </tr>
        {% endif %}
        <tr>
          <td>Total article views</td>
          <td>{{ total_article_views }}</td>
        </tr>
      </tbody>
    </table>

    {% elif display == 'edit_account' %}

    <h2>Update account details</h2>
    <form method="POST" action="." enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label>Email</label>
        <input name="email" type="text" class="form-control" value="{{ user.email }}">
      </div>
      <div class="form-group">
        <label>Old password</label>
        <input class="form-control" name="old_password" type="password">
      </div>
      <div class="form-group">
        <label>New password</label>
        <input class="form-control" name="new_password" type="password">
      </div>
      <div class="form-group">
        <label>Confirm new password</label>
        <input class="form-control" name="confirm_password" type="password">
      </div>
      <input type="hidden" name="account_form" value="account_form">
      <button type="submit" class="btn btn-primary">Save</button>
    </form>

    {% elif display == 'edit_payment_details' %}

    Custom stripe form

    {% endif %}

  </div>

</div>

{% endblock content %}