{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main role="main" class="container">
<div class="row mt-5">

  <aside class="col-md-4 blog-sidebar">
    <div class="card" style="width: 100%;">
      <div class="card-header">
        <h4>{{ request.user.username }}</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'my-profile' %}">Stats</a></li>
        <li class="list-group-item"><a href="{% url 'edit-my-account' %}">Account</a></li>
        <li class="list-group-item"><a href="{% url 'edit-profile-payment-details' %}">Credit cards</a></li>
        <li class="list-group-item"><a href="{% url 'edit-email-preferences' %}">Notifications</a></li>
      </ul>
    </div>

    <div class="mt-1">
      {% if not request.user.channel %}
        <a style="width: 100%;" href="{% url 'channel-create' %}" class="btn btn-primary">Become a Journalist!</a>
        {% else %}
        <a style="width: 100%;" href="{% url 'channel-stats' %}" class="btn btn-primary">Edit channel</a>
      {% endif %}
    </div>
  </aside>


  <div class="col-md-8">

    {% if display == 'stats' %}

    <h3>Subscribed channels</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Channel name</th>
          <th scope="col">Subscribers</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
      {% for channel in channel_list %}
        <tr>
          <td><a href="{{ channel.get_absolute_url }}">{{ channel.name }}</a></td>
          <td>{{ channel.subscribers.count }}</td>
          <td>{{ channel.description }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">You have no subscriptions. <a href="/explore">Explore the channels</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% include "nav/paginator.html" with queryset=queryset page_request_var=page_request_var %}

    <br style="padding-top: 10px;" />

    <h3>Stats and information</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Metric</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of subscriptions</td>
          <td>{{ sub_count }}</td>
        </tr>
        <tr>
          <td>Total article views</td>
          <td>{{ total_article_views }}</td>
        </tr>
        <tr>
          <td>Current months billing total</td>
          <td>${{ current_monthly_billing_total }}</td>
        </tr>
        <tr>
          <td>Next payment date</td>
          <td>{{ next_payment_date }}</td>
        </tr>
        {% if most_viewed_channel != None %}
        <tr>
          <td>Most viewed channel</td>
          <td>{{ most_viewed_channel.article__channel__name }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>

    {% elif display == 'edit_account' %}

    <h3>Update account details</h3>
    <form method="POST" action="." enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label>Email</label>
        <input name="email" type="text" class="form-control" value="{{ user.email }}">
      </div>
      <div class="form-group">
        <label>Old password</label>
        <input class="form-control" name="old_password" type="password">
      </div>
      <div class="form-group">
        <label>New password</label>
        <input class="form-control" name="new_password" type="password">
      </div>
      <div class="form-group">
        <label>Confirm new password</label>
        <input class="form-control" name="confirm_password" type="password">
      </div>
      <input type="hidden" name="account_form" value="account_form">
      <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <hr />

    <a href="{% url 'close-account' %}" class="btn btn-secondary">Close account</a>

    {% elif display == 'edit_payment_details' %}

    <h3>Add a credit card</h3>
    {% include 'core/stripe_credit_card.html' with STRIPE_PUBLIC_KEY=STRIPE_PUBLIC_KEY %}
    <hr />
    <div>
      <h4>My credit cards</h4>
      <ul class="list-group">
        {% for card in card_list %}
          <li class="list-group-item">          
            <label class="title ellipsis">
            <span style="float: left;"><i class="fab fa-2x fa-cc-{{ card.brand|lower }}"></i></span>            
            <span style="margin-left: 10px; font-size: 17px;">**** **** **** <b>{{ card.last4 }}</b> | EXP: <b>{{ card.exp_month }}/{{ card.exp_year }}</b></span>
            <a href="{% url 'remove-credit-card' card.id %}"><span style="float: right;"><i class="fas fa-2x fa-trash-alt"></i></span></a>
            </label>
          </li>
          {% empty %}
          You have no cards. Add a card to start subscribing
         {% endfor %}
      </ul>
    </div>

    {% elif display == "edit_email_notifications" %}

    <h3>My Email Preferences</h3>
    <div style="display: inline-block;">
    <form method="POST" action=".">
        {% csrf_token %}
        <div class="form-group">
          {% if user.signup_set.first.subscribed %}
          <p>Unsubscribe from specials, discounts and other notifications</p>
          <button type="submit" name="unsubscribe" class="btn btn-outline-secondary">Unsubscribe</button>
          {% else %}
          <p>Subscribe for specials, discounts and other non-spammy notifications</p>
          <input class="form-control mr-sm-2" placeholder="Your email" type="email" name="email">
          <br />
          <button type="submit" name="subscribe" class="btn btn-secondary">Subscribe</button>
          {% endif %}
        </div>
    </form>
    </div>
    {% endif %}

  </div>

</div>

{% endblock content %}