{% extends "base.html" %} {% load crispy_forms_tags %} {% block header %}

<div class="jumbotron bg-light mb-0 radius-0">
    <div class="container">
        <h2>Welcome to NewsPlatform!</h2>
        <span class="lead">Linking the public to affordable, ad-free news from a continuously
      growing choice of journalists on a continuously growing range of
      topics.</span
    >

    <div class="mt-4">
      <p>Subscribe to news at $0.50 per channel, per month.</p>
      <p>No algorithms | No clickbait | No narratives</p>
    </div>
  </div>
</div>

{% endblock %} {% block content %}

<div class="row" style="margin: 10px;">
  <div class="col-12">
    <h2>Users</h2>
    <p>
      Find channels that report on news that you find important. Only want a
      daily roundup of world news? There will be a channel for exactly that (or
      many). Have many interests? Great, each channel costs only $0.50 per month
      to subscribe to and you can unsubscribe at any time, and you will never
      have to deal with advertising on NewsPlatform. Ever!
    </p>

    <h2>Become a Journalist</h2>
    <p>
      Do you have a smart phone, an interest in current affairs or any unique
      body of knowledge? Why not get paid for your journalism? There are
      millions of interesting things going on everyday that are important to
      millions of people, and they are not getting reported on. Why? Because the
      people who would report on it either don't know how to get their
      information out there, or don't know how to cover the costs of their time
      spent. On NewsPlatform, it costs nothing to start a channel and publish
      your content. If your articles are of a high enough quality that someone
      wants to subscribe, great, now you have an active audience! Once you have
      20 subscribers, you fill in your account details and you get paid monthly.
      For every subscriber, you earn $0.25 per month. Unlike youtube, you will
      know exactly how much you will earn, and your number of subscribers is
      linked directly with the quality of your reporting. Join the most
      revolutionary platform in the history of news. Journalists get paid by
      their subscribers, and there is no network/ employer/ clumsy management
      structure to dictate what you should report on. If you report on news that
      people want to know about, you will do well. Everyone wins! There is zero
      signup cost to start. Just make a channel (or many, if you want) from your
      profile page and then make high quality content and see if people want to
      subscribe to what you report on!
    </p>
  </div>
  <p>Peak kek</p>
</div>

{% endblock content %}