{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-8 col-sm-8 col-12 justify-content">
    <div class="row ">
        <h2>Welcome to our FAQs</h2>
        <p>
        Here you will find some of the most popular questions about NewsPlatform. <br>
        We want to make your experience as smooth as possible; should you not find an answer on this page, you can <a href="{% url 'contact' %}">contact us</a> and we will gladly assist you.
        </p>
    </div>
    <div class="row">
        <h4>How to earn money with NewsPlatform</h4>
        <p>
        <li>NewsPlatform allows users create channels for free. </li>
        <li>The users then publish articles on their channels.</li>
        <li>If the articles are of a high quality, others users will subscribe to a channel to read articles.</li>
        <li>After you have 20 subscribers, you will earn USD $0.25 per subscriber per month. </li>
        <li>You may create as many channels, and publish as many articles as you want, but people will only
        pay for high quality, valuable articles.</li>


        </p>
    </div>
    <div class="row">
        <h4>How subscribing works and costs</h4>
        <p>
        NewsPlatform aims to allow journalists to write high quality content without the burden of reuiring very large numbers of readers to drive traffic and earn income via ad-revenue.
        For consumers of news, NewsPlatform allows them to subscribe to niche channels at a fee of USD 0.50 per channel per month for an ad-free News Service.
        The benefit for consumers of news include:
        <li>No longer bombarded by clickbait news titles.</li>
        <li>No more news sites filled with auto-play ad videos and irrelevent ads obscuring the news content.</li>
        <li>Refined, affordable news service. Only pay for the news that you want, from journalists you trust.</li>
        <li>No more being locked into a provider. If your interest change, are a channels quality drops, unsubscribe. </li>
        <li>For USD 8.00 a user could subscribe to 16 diverse channels each a specialist in their niche area, from a global finance news channel, to a neighbourhood community news bulletin, to news on a niche sport in a niche location. Ad-free news is no longer elusive.</li>
        </p>
    </div>

    <div class="row">
        <h4>Adding a channel</h4>
        <p>
        <li>Go to the top right and click on 'Account'.</li>
        <li>From the drop-down click on 'Profile'.</li>
        <li>On the right of your profile page, you will see 'Edit Channel' and 'Create another channel'.</li>
        <li>Clicking on 'Create another channel' will take you to a form which walks you through creating a channel.</li>
        </p>
    </div>
    <div class="row">
        <h4>Switch channels</h4>
        <p>
        <li>Go to the top right and click on 'Account'.</li>
        <li>From the drop-down click on 'Profile'.</li>
        <li>On the right of your profile page, you will see 'Current channel' and a drop down with current channel selected.</li>
        <li>Clicking on the dropdown will allow you to select the channel that you wish to work/ publish articles on.</li>
        </p>
    </div>
  </div>
</div>

{% endblock content %}
