{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-6 col-md-6 col-sm-8 col-12">
    <div class="row">
        <h2>Welcome to our FAQ</h2>
        <p>
        Here you will find some of the most popular questions about NewsPlatform. <br>
        We want to make your experience as smooth as possible; should you not find an answer on this page, you can <a href="{% url 'contact' %}">contact us</a> and we will gladly assist you.
        </p>
    </div>
    <div class="row justify-content">
        <h4>How to earn money with NewsPlatform</h4>
        <p>
        <li>NewsPlatform allows users create channels for free. </li>
        <li>The users then publish articles on their channels.</li>
        <li>If the articles are of a high quality, others users will subscribe to a channel to read articles.</li>
        <li>After you have 20 subscribers, you will earn USD $0.25 per subscriber per month. </li>
        <li>You may create as many channels, and publish as many articles as you want, but people will only
        pay for high quality, valuable articles.</li>


        </p>
    </div>
    <div class="row">
        <h4>How subscribing works and costs</h4>
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>
    </div>
    <div class="row">
        <h4>Adding a channel</h4>
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>
    </div>
    <div class="row">
        <h4>Switch channels</h4>
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>
    </div>
  </div>
</div>

{% endblock content %}
